.body {
    background:  #293F50;
    font-family: 'Lato', sans-serif, "Open Sans", "Helvetica Neue", Helvetica, Arial;
}
.header {
    color: white;
    padding: 0% 20% 5% 16.5%
}
.heading {
    padding: 10% 0 10% 0;
    float: left;
    font-weight: 400;
    font-size: 300%;
    line-height: 90%;
}
.date {
    padding: 13% 0px 3.5%;
    text-align: right;
    font-size: 100%;
    color: #888;
}
.nav {
  list-style: none;
  font-size: 90%;
  font-weight: 500;
  text-align: right;
  font-size: 95%;
}
.lis {
    margin-left: 5%;
    display: inline-flex;
    text-align: right;
}
.section {
    background: linear-gradient(to right, rgb(161, 211, 176), rgb(246, 241, 211));
    text-align: center;
    padding: 5% 22% 4% 22%;
    color: #888;
}
.venue {
    font-size: 200%;
    padding-bottom: 3%;  
}
.parent-location-details {
  background-color: #fff;
  padding-left: 10%;
  color: #888;
  padding-bottom: 5%;
  
}
.first-location {
    display: flex;
    background-color: white;
}
.first-map-address{
  margin: 5% 18% 15% 0%;
}
.location-name {
  padding-bottom: 10%;
}
.location-address {
  padding-bottom: 15%;
}
.iframe {
  padding-top: 15%;
  width: 200%;
  height: 80%;
}
.second-map-address {
  margin: 5% 21% 15% 0%;
}
.footer-navbar{
  color: #888;
  text-align: right;
  padding: 4% 10% 4% 10%;
}
.footer-nav {
  list-style: none;
  font-size: 90%;
  font-weight: 500;
}
.footer-nav-link {
  margin-left: 5%;
  display: inline-flex;
  color: #fff;
}
.copywrite {
  float: left;
}