.body {
  background:  #293F50;
  font-family: 'Lato', sans-serif, "Open Sans", "Helvetica Neue", Helvetica, Arial;
  background: linear-gradient(120deg, #293F50, #1c2127);
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease-in-out infinite;
}
@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
.header {
  padding: 0% 20% 3% 16.5%;
  color: white;
}
.heading {
    padding: 5% 0 10% 0;
    float: left;
    font-weight: 400;
    font-size: 300%;
    line-height: 90%;
}
.heading:hover {
  color: #648880;
  cursor: pointer;
}
.date {
    padding: 8% 0px 3.5%;
    text-align: right;
    font-size: 100%;
    color: #888;
}
.nav {
  list-style: none;
  font-size: 90%;
  font-weight: 500;
  text-align: right;
  font-size: 95%;
}
.lis {
    margin-left: 5%;
    display: inline-flex;
    text-align: right;
}
.lis:hover {
  color: #648880;
  cursor: pointer;
}
.section-venue {
  background: linear-gradient(130deg, #f6f1d3, #a1d3b0);
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease infinite;
  color: #888;
  text-align: center;
  padding: 5% 18% 4% 18%;
}
.venue {
    font-size: 40px;
    font-weight: 400;
    line-height: 45px;
    padding: 0% 5% 3% 0%;
}
.venue-para {
  font-size: 20px;
  line-height: 32px
}
.parent-location-details {
  background-color: #fff;
  padding-left: 10%;
  color: #888;
  padding-bottom: 5%;
}
a:hover {
  color: #8ac7ba;
}
a:active {
  color: rgb(87, 87, 156);
}
.first-location {
    display: flex;
    background-color: white;
}
.first-map-address{
  margin: 5% 18% 15% 0%;
}
.location-name {
  padding-bottom: 10%;
}
.location-address {
  padding-bottom: 15%;
}
.location-link {
  text-decoration: underline;
}
.iframe {
  padding-top: 15%;
  width: 200%;
  height: 80%;
}
.second-map-address {
  margin: 5% 21% 15% 0%;
}
.footer-navbar{
  color: #888;
  text-align: right;
  padding: 4% 10% 4% 10%;
}
.footer-nav {
  list-style: none;
  font-size: 90%;
  font-weight: 500;
}
.footer-nav-link {
  margin-left: 5%;
  display: inline-flex;
  color: #fff;
}
.copywrite {
  float: left;
}
.footer-nav-link:hover {
  cursor: pointer;
  color: #648880;
}
